kmonitor
ratio1
decentra-vision
python-telegram-bot[rate-limiter]
protobuf
ngrok

bitsandbytes

openai
sqlfluff
pypdf
python-docx
pdfplumber
docker
aiofiles
paramiko
# This has been moved to device.py additional_packages list for better compatibility with different devices.
# llama-cpp-python>=0.2.82